extends layout

//- Block content ajouter au layout
block content

    style
        include css/style.css
        
    #notfound
        .notfound
            .notfound-404
                h1 Oops!
            h2 501 - Not implemented
            p
            | The request method is not supported by the server.
            a.m-3(href='/') Go To Homepage
