extends layout

//- Block content ajouter au layout
block content
    .jumbotron.jumbotron-fluid.m-3.text-center
        .container
            h1.display-4 ORM API
            p.lead
            | This project is carried out by 
            em William GILLOT 
            | and 
            em Lucas USEREAU

    .container
        #database.m-2
            h2 Database
            p We are using a script which 'scrap' a part of the website www.speedrun.com, which allow us to collect #{allCount} datas
            p That uses 3 different tables
            ul
                li Users: #{users} stored.
                li Games: #{games} stored.
                li Runs: #{runs} stored.

        hr

        #technologies.m-2
            h2 Technologies used
            ul
                li HTML
                li CSS
                li Bootstrap
                li Sqlite3
                li Node JS / Javascript 
                ul
                    li Sequelize
                    li Express
                    li Pug
                    li Body-Parser
                    li Path     

        hr
        #resources.m-2
            h2.p-1 Github
            p
                | Link of our git: 
                a(href='https://github.com/Saluc00/API') https://github.com/Saluc00/API

            h2.p-1 Presentation
            p
                | Link of our slideshow: 
                a(href='https://www.canva.com/design/DAD7OUIQjrY/eH2-wRAmUWHzArVFK8PGOg/edit') https://www.canva.com/design/DAD7OUIQjrY/eH2-wRAmUWHzArVFK8PGOg/edit

            h2.p-1 Documentation
            p
                | Link of our documenation: 
                a(href='https://github.com/Saluc00/API/blob/master/README.md') https://github.com/Saluc00/API/blob/master/README.md